/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-laranja: #FF5B50;
  --color-branco: #FFFFFF;
  --color-cinza: #5A5757;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none; 
}

li {
  list-style: none;
}

.section {
  max-width: 127.7rem;
  margin: auto;

}


/* Corpo */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  background: url("./assets/background.png") black no-repeat;
  background-size: cover;
  background-position: top center;
}


/* Cabeçalho */

#menu {
  margin: 5.7rem auto 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#opcao {
  display: flex;
  gap: 6rem;
}

#opcao li a {
  font-size: 1.8rem;
  color: var(--color-branco);
}

#logo {
  color: var(--color-branco);
  font-weight: 700;
  font-size: 4rem;
}

span.txt-nfts {
  color: var(--color-laranja);
}

.btn-conectar-carteira{
  color: black;
  background-color: var(--color-branco);
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23rem;
  height: 5rem;
  
}
.btn-conectar-carteira img {
  margin-right: 1.5rem;
}

/*Conteudo-1*/

#conteudo-1 {
  display: flex;
  justify-content: space-between;
  color: var(--color-branco);
  margin-bottom: 10rem;
  
}

.txt-descubra {
  max-width: 59.6rem;
  font-weight: 700;
  color: var(--color-branco);
  font-size: 5rem;
  margin: auto 4rem;
}

/*Galeria*/



/*Conteudo-2*/
#conteudo-2 {
  background-color: black;
  display: flex;
  color: var(--color-branco);
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-cinza);

}
.lado-esquerdo {
  border-right: 1px solid var(--color-cinza);
  padding-right: 6.7rem;
  

}

.caixa-mark h1{
  font-weight: 600;
  font-size: 5rem;
}
.espacador {
  margin-bottom: 7rem;
}
.caixa-mark p{

  font-weight: 600;
  font-size: 2rem;
  color: var(--color-cinza);
 
}

.caixa-de-txt-principal {
  max-width: 95.2rem;
  height: 21.4rem;
  display: flex;

}

.caixa-de-txt-1 {

}

.caixa-de-txt-2 {

}